{% extends 'sports/main.html' %}

{% block content %}
<br>
<div class="row">
	<div class="col-md-12">
		<h5>Testing Roster</h5>
		<hr>
		<div class="card card-body">
			<table class="table table-sm">
        <tr>
					<th>Name (Last, First)</th>
          <th>Date of Birth</th>
					<th>Sport</th>
				</tr>
        <tr>
          <td>WomensSoccerExample, Javalen</td>
          <td>01/28/03</td>
          <td>WSC</td>
        </tr>
        <tr>
          <td>WomensWrestlingExample, Jaleca</td>
          <td>01/28/03</td>
          <td>WWR</td>
        </tr>
        <tr>
          <td>MensWrestlingExample, Pablo</td>
          <td>01/28/03</td>
          <td>MSC</td>
        </tr>
        <tr>
          <td>MensBaseballExample, Petark</td>
          <td>01/28/03</td>
          <td>MSC</td>
        </tr>

			</table>
		</div>
	</div>

</div>


{% endblock %}