{% extends 'sports/main.html' %}

{% block content %}

<br>
<div class="row">
	<div class="col-md-12">
		<h5>Teams</h5>
		<hr>
		<div class="card card-body">
			<table class="table table-sm">
        <tr>
					<th>Team</th>
					<th>Coach</th>
					<th>Season Status</th>
				</tr>
        <tr>
          <td>Women's Wrestling</td>
          <td>[Pull in from Team Page]</td>
          <td>[Pull In from Team Page]</td>
        </tr>
        <tr>
          <td>Men's Wrestling</td>
          <td>[Pull in from Team Page]</td>
          <td>[Pull In from Team Page]</td>
        </tr>
        <tr>
          <td>Men's Soccer</td>
          <td>[Pull in from Team Page]</td>
          <td>[Pull In from Team Page]</td>
        </tr>
        <tr>
          <td>Women's Soccer</td>
          <td>[Pull in from Team Page]</td>
          <td>[Pull In from Team Page]</td>
        </tr>
        <tr>
          <td>Softball</td>
          <td>[Pull in from Team Page]</td>
          <td>[Pull In from Team Page]</td>
        </tr>
        <tr>
          <td>Baseball</td>
          <td>[Pull in from Team Page]</td>
          <td>[Pull In from Team Page]</td>
        </tr>

			</table>
		</div>
	</div>

</div>

{% endblock %}